Source: progeny
Section: admin
Priority: extra
Maintainer: Vladimir Stavrinov <vstavrinov@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://sourceforge.net/projects/process-progeny/
#Vcs-Git: git://git.debian.org/collab-maint/progeny.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/progeny.git;a=summary

Package: progeny
Architecture: all
Depends: ${misc:Depends}
Description: Returns process's progeny in all generations recursively
 calculated from PID as parent. It is simple as possible without any options.
 And its output could be used to kill processes.

